@model ConsoleAppProject.App02.BmiCalculator
@{
    ViewData["Title"] = "KG BMI Calculator";
}
<header class="jumbotron">
    <h1>BMI Calculator</h1>
    <h2>by Kate Gordon</h2>
    <p>
        This app will use your body weight and height to calculate a BMI
        Index which can be used to classify your health risks
    </p>
</header>
<section>
    <form method="post">
        <h2>Height</h2>
        <p>
            Please enter your current height in whole numbers
            using metric or imperial units
        </p>
        <p>
            <input type="number" placeholder="Feet" asp-for="@Model.HeightUnit" />
            <input type="number" placeholder="Inches" asp-for="@Model.HeightUnit" />
        </p>
        <p>
            <input type="number" placeholder="Metres" asp-for="@Model.HeightUnit" />
        </p>
        <h2>Weight</h2>
        <p>
            Please enter your current weight in whole numbers
            using metric or imperial units
        </p>
        <p>
            <input type="number" placeholder="Stone" asp-for="@Model.WeightUnit" />
            <input type="number" placeholder="Pounds" asp-for="@Model.WeightUnit" />
        </p>
        <p>
            <input type="number" placeholder="Kilograms" asp-for="@Model.WeightUnit" />
        </p>
        <p>
            <button class="btn btn-success" type="submit">Calculate</button>
        </p>
    </form>
</section>

